body {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
}

.span-red {
    color: #ed3770;
}


.portfolio-page {
    width: 100%;
}

.page-wrap {
    max-width: 1120px;
    margin: auto;
    background-color: aqua;
}

.page-aside {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f3f7de;
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 1100;
    float: left;
    text-align: center;
    color: black;
    transition: width 0.5s ease;

}

.id-intro{
    display: block;
}


.id-photo img {
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.id-name{
    display: block;
    color: black;
    font-family: none;
}

.id-position{
    display: block;
    color: black;
    margin-bottom: 50px;
}

.nav-menu{
    color: black;
    text-align: center;
    padding: 0;

}

.nav-menu li{   
    list-style-type: none;
    margin: 0 0 10px 0;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}   

.main {
    float: right;
    width: calc(100% - 300px);

}

section {
    width: 100%;
}


.first-project {
    padding: 25px;
    width: 100%;
    display: inline-block;
}
.first-project div{
    margin: auto;
}


.second-project {
    padding: 25px;
    width: 100%;
    display: inline-block;
}

.second-project div{
    margin: auto;
}

.project-title {
    width: 90%;
}

.title-1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}

.title-2 {
    font-size: 17px;
    float: left;
    width: 50%;
}

.title-3 {
    font-size: 17px;
    float: right;
    width: 50%;
    text-align: right;
}

.project-view {
    width: 100%;
    margin: auto;
    clear: both;
}


.project-story {
    width: 90%;
}

.project-story p{
    margin: 10px;
}


.first-visual-list img {
    max-width: 90%;
    margin: auto;
}

.first-control {
    text-align: center;
}

.first-control .btn-area{
    padding-top: 10px;
    
}


.second-visual-list img {
    max-width: 90%;
    margin: auto;
}

.second-control {
    text-align: center;
}

.second-control .btn-area{
    padding-top: 10px;
    
}

.first-btn-prev,
.first-btn-next,
.second-btn-prev,
.second-btn-next {
    border-radius: 50%;
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.xi-angle-left-thin,
.xi-angle-right-thin {
    font-size: 17px; /* 원하는 크기로 조정 */
}





@media screen and (max-width: 768px) {
    .page-aside.hidden {
        width: 0;
        color: white;
    }
    .id-intro{
        display: none;
    }
    .nav-menu {
        display: none;
    }

    .main {
        width: 100%;
    }



}

@media screen and (max-width: 992px) {
    .project-view {
        width: 100%;
    }

    .project-story {
        width: 100%;
    }

    .project-story p{
        margin: 3% 10% 3% 10%;
    }
    .first-project {
        padding: 0px;
    }

    .second-project {
        padding: 0px;
    }

    .project-title p{
        text-align: center;
    }

    .title-2, .title-3 {
        width: 100%;

    }
    .title-3 {
        margin-top: 0;
    }
}