body {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 20px;
    color: black;

}

.portfolio-page {
    width: 100%;
}

.page-wrap {
    max-width: 80%;
    margin: auto;
    background-color: aqua;
}

.page-aside {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f3f7de;
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    z-index: 1100;
    float: left;
    text-align: center;
    color: black;
    transition: width 0.5s ease;

}

.id-intro{
    display: block;
}

.id-photo {
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    border-radius: 15%;
}

.id-name{
    display: block;
    color: black;
}

.id-position{
    display: block;
    color: black;
    margin-bottom: 50px;
}

.nav-menu{
    color: black;
    text-align: center;
    padding: 0;

}

.nav-menu li{   
    list-style-type: none;
    margin: 0 0 10px 0;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}   

.main {
    float: right;
    width: calc(100% - 300px);

}


@media screen and (max-width: 768px) {
    .page-aside.hidden {
        width: 0;
        color: white;
    }
    .id-intro{
        display: none;
    }
    .nav-menu {
        display: none;
    }

    .main {
        width: 100%;
    }

}

